#portfolio {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolioTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.portfolioDesc {
    font-weight: 300;
    font-size: 1rem;
}

.expImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;

}
/* .slideshow {
    margin: auto;
    width: 80vw;
    aspect-ratio: calc(16 / 9);
    position: relative;
    overflow: hidden;
    border-radius: 16px;
  } */
.slideshow {
    width: 90vw;
    max-width: 65rem;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 2rem;
} 