#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}
.properties {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
    flex-wrap: wrap;
}
/* #works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
    flex-wrap: wrap;
}

.Expandable {
    position: relative;
    height:20rem;
    border: none;
    margin: 0.5rem;
    display: flex;
    cursor: pointer;
}

.worksImg {
    object-fit: fill;
    height: 20rem;
    border-radius: 1rem;
}

.caption {
    position: absolute;
    background-color: rgb(40, 40, 40);
    padding: 1rem;
    width: 100%;
    bottom: 0%;
    opacity: 0.85;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.ImgRef {
    text-align: center;
    color: white;
    opacity: 1;
}

.worksBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

@media screen and (max-width:585px) {
    .Expandable {
        height: 48vw;
    }
    .worksImg {
        height: 48vw;
    }
} */